.infoComponent{
   
    border: 5px solid;
    border-radius: 20px;
    border-color: #f54260;
    
    height: 435px;
    max-width: 50%;
    margin: 10px 10px 0 0;



    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CB356B, #BD3F32);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CB356B, #BD3F32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 1180px) {
    .infoComponent{
        margin: 0 auto;
        min-width: 90%;
    }
}

.pokemonLogo{
    width: 250px;
    height: 100px;
}

@media screen and (max-width: 400px) {
    .pokemonLogo{
        width: 200px;
        height: 70px;
    }
}

.infoBox{
    display: block;
    margin: 15px 10px 0 10px;
    border-radius: 20px;
    
    height: 60%;
    min-width: 50%;

    background: white;

    font-size: 35px;

    overflow: scroll;
    overflow-x: hidden;

}

.typesWrapper{
    display: flex;
    justify-content: space-around;

    margin-top: 15px;
    font-size: 18px
}

.bodyText{
    font-size: 15px;
    margin-top: 45px;
    
}