.randomPage{
    display: flex;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1180px) {
    .randomPage{
        display: block;
    }
}


.infoPicture{
    width: 50%;
    height: 100%;

    position:relative;
}

@media screen and (max-width: 1180px) {
    .infoPicture{
        margin: 0 auto;
        width: 90%;

        display: flex;
        justify-content: space-around;
    }
}

.pokemonImage{
    position: relative;
    z-index: 5000;
    width: 60%;
}

@media screen and (max-width: 1180px) {
    .pokemonImage{
        margin: 0;
        width: 270px;
        height: 280px;
    }
}

@media screen and (max-width: 400px) {
    .pokemonImage{
        width: 230px;
        height: 230px;
    }
}

.pokemonName{
    position: absolute;
    bottom: 0;
    
    border: 5px solid;
    border-radius: 20px;
    border-color: #f54260;
    height: 40%;
    width: 90%;
    margin: -80px 0 10px 10px;

    display: flex;
    justify-content: center;
    align-content: center;

    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 1180px) {
    .pokemonName{
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .pokemonName{
        width: 90%;
    }
}

.pokemonTitle{
    margin: auto;
    font-size: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    border-radius: 20px;
    width: 80%
    
}

@media screen and (max-width: 400px) {
    .pokemonTitle{
        font-size: 20px;
    }
}



.smallPic{
    width: 80px;
}