.viewBox{
    width: 70%;
    height: 70%;
    margin: 0 auto;

    background-color:azure;

    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.boxImage{
    transition: 0.8s;
}

.boxImage img{
    width: 80%;
    border-radius: 45px;
}



.boxWrapper{
    padding-top: 35px; 

    display: flex;
    justify-content: space-around;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
