.viewBox{
    width: 70%;
    height: 70%;
    margin: 0 auto;

    background-color:azure;

    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.boxImage{
    transition: 0.8s;
    margin-bottom: 30px;
}

.boxImage img{
    width: 80%;
    height: 80%;
    border-radius: 45px;
    min-width: 400px;

  
}

@media screen and (max-width: 1180px) {
    .boxImage img{
        max-width: 60%;
        border-radius: 45px;
    }
}


.boxWrapper{
    padding-top: 35px; 

    display: flex;
    justify-content: space-around;
}

.boxWrapper{
    padding-top: 35px; 

    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1180px) {
    .boxWrapper{
        padding-top: 35px; 
    
        display: block;
        
    }
}


.route-button{
    background: #fe5858;
    width: 300px;
    height: 50px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 20px;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color:white;

    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px;

    transition: 0.5s;
}

.route-button:hover{
    opacity: 0.5
}

.random{
    margin-top: 115px;
}

.outlined-basic{
    margin-top: 30px;
}
