.App {
  text-align: center;
  background: url("./assets/background.jpg");
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
  
}

/*Logo*/
.logo{
  margin-top: 30px;
  margin-bottom: 60px;
}

